### Loops & if / else

In [2]:
x=0

while(x <4):
    print(x)
    x = x+1

0
1
2
3

In [4]:
i = 1

while i <= 10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [5]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [8]:
months = ["Jan","Feb","Mar","April","May","June"]

for m in months:
    print(m)

Jan
Feb
Mar
April
May
June

In [9]:
 words = ['cat', 'window', 'defenestrate']

for w in words:
    print(w)

cat
window
defenestrate

In [10]:
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [12]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

for i in range(len(a)):
    print(i)

0
1
2
3
4

In [14]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [15]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [16]:
for i  in list(range(9)):
    print(i)

0
1
2
3
4
5
6
7
8

In [18]:
x=8

y=4

if(x < y):
    st= "x is less than y"
else:
    st= "x is greater than y"
    print (st)

x is greater than y

In [19]:
x = int(input("enter integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

enter integer: 42
More

In [23]:
total = 100
country = "AU"

if country == "US":
    if total <= 50:
        print("Shipping Cost is $50")
elif total <= 100:
    print("Shipping Cost is $25")
elif total <= 150:
    print("Shipping Costs $5")
else:
    print("FREE")
if country == "AU":
    if total <= 50:
        print("Shipping Cost is $100")
    else:
        print("FREE")

Shipping Cost is $25
FREE

In [26]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
        print("Found a number", num)

Found an even number 2
Found an even number 4
Found an even number 6
Found an even number 8

In [28]:
for x in range (10,20):
    if (x == 15): break
    if (x % 2 == 0) : continue
    print(x)

11
13

In [29]:
for x in range (10,20):
    if (x == 15): break
    if (x % 5 == 0) : continue
    print(x)

11
12
13
14

In [32]:
num_list = [10, 20, 33, 46, 55]

print('Divisible by 5:')

for num in num_list:
    if num % 5 == 0:
        print(num)

Divisible by 5:
10
20
55

In [34]:
s = 0
n = int(input("Enter number "))

for i in range(1, n + 1, 1):
    s =s+i
    print("\n")

print("Sum is: ", s)

Enter number 2




Sum is:  3

In [35]:
for i in range(1, 11, 1):
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

In [37]:
freshfruit = [' banana', ' loganberry ', 'passion fruit ']

[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [39]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [40]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [42]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [43]:
today = 'Wednesday'

if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In [44]:
a_number = 49

if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3 or 5'.format(a_number))

All checks failed!
49 is not divisible by 2, 3 or 5

In [45]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

In [46]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [51]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
    continue
    print('Today is {}'.format(day))

I don't work on Wednesday!