Python Basics Assignment

In [53]:
8+4

12

In [2]:
16*5

80

In [3]:
50-5*6

20

In [4]:
(50-5*6)/4

5.0

In [5]:
#This is my first program

In [8]:
# It prints the phrase "Hello, World"
print("Hello World")
#comments are longer than the code!

Hello World

In [10]:
greeting = "Hello World of Python"
print(greeting)

Hello World of Python

In [11]:
8/5

1.6

In [12]:
17/3

5.666666666666667

In [15]:
#floor div removed decimal
17//3

5

In [16]:
#modulo printed remainder
17%3

2

In [17]:
5 * 3 + 2

17

In [18]:
5**2

25

In [19]:
2**7

128

In [20]:
width = 20
height = 5*9
width * height
print(width)
print('The value of width=',width) # ''
print("The value of width=",width) # ""
print("Area=",width*height)

20
The value of width= 20
The value of width= 20
Area= 900

In [21]:
print('Height=',height)

Height= 45

In [22]:
tax = 12.5
price = 100.50
print(price * tax)

1256.25

In [23]:
print(tax)

12.5

In [24]:
print(price)

100.5

In [25]:
'the'+'sun'

'thesun'

In [26]:
'the'+'moon'

'themoon'

In [27]:
'planets'+'universe'

'planetsuniverse'

In [28]:
s1='Elon'
s2='Musk'

In [29]:
magicstring=s1+s2

In [30]:
magicstring

'ElonMusk'

In [31]:
firstname="Swapnil"
lastname="Mardhekar"

fullname=firstname+' '+lastname

In [32]:
fullname

'Swapnil Mardhekar'

In [33]:
str1='HELLO'
str2="WORLD"
print(str1+str2)

HELLOWORLD

In [34]:
print(str1+' '+str2)

HELLO WORLD

In [37]:
userinput = input("hey,what's up?")

print("You said: " + userinput)

hey,what's up?hello world
You said: hello world

In [38]:
text = "hey,what's up? "
userinput = input(text)

print("You said: " + userinput)

hey,what's up? hello world
You said: hello world

In [40]:
n=int(input("Enter number for double "))
doublednum=n*2
print(doublednum)

Enter number for double 3
6

In [43]:
n=int(input("Enter number for double "))
doublednum=float(n)*2  #changed type to float
print(doublednum)

Enter number for double 3
6.0

In [44]:
n1=int(input("enter number"))

enter number32

In [45]:
n2=int(input("enter number"))

enter number33

In [46]:
print(n1,"*",n2,"=",n1*n2)

32 * 33 = 1056

In [50]:
string1="HelloWorld"
len(string1)

10

In [51]:
string1="Hello World"
len(string1)

11

In [47]:
#simple imterest
p= int(input("enter principle"))
r= float(input("enter rate"))
t= float(input("enter time"))

si= (p*r*t)/100

print("simple interest: ",si)

enter principle200000
enter rate10
enter time5
simple interest:  100000.0

In [49]:
# exercise
#Q: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

planecost= 5000
passengers = 29
ticket= 200

earnings = passengers*ticket

profit=earnings-planecost

print("profit:",profit,"dollars")

profit: 800 dollars